@model WollonMe.Models.Remark

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RemarkModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemarkCont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemarkCont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemarkTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemarkTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToFloor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsView)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RemarkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
