@model IEnumerable<WollonMe.Models.Remark>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Blog.AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemarkCont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemarkTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToFloor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsView)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Blog.AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemarkCont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemarkTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToFloor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsView)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RemarkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RemarkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RemarkId })
        </td>
    </tr>
}

</table>
