@model IEnumerable<WollonMe.Models.MainKind>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MainKindName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MainKindName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MainKindId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MainKindId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MainKindId })
        </td>
    </tr>
}

</table>
