@model WollonMe.Models.Blog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BlogModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogImg.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogImg.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainKind.MainKindName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainKind.MainKindName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogAbst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogAbst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogCont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogCont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerKinds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerKinds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClickNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClickNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemarkNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemarkNum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
